* {
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: lightcoral;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 98vh;
}

.calculator-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.calculator-outline {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  outline: 1px solid rgb(131, 131, 131);
  height: 560px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px darkgray;
}

.outputScreen {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 320px;
  padding: 0px 10px;
  margin: 20px;
  background-color: rgb(234, 234, 234);
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
}

#topOutput {
  display: flex;
  height: 30px;
  justify-content: end;
  align-items: center;
}

#bottomOutput {
  display: flex;
  height: 70px;
  font-size: 32px;
  justify-content: end;
  align-items: center;
}

.removeButtons {
  display: flex;
  height: 60px;
  width: 380px;
  margin: 0px 20px;
  text-align: center;
  justify-content: space-evenly;
}

#clearButton {
  outline: 1px solid rgb(185, 185, 185);
  width: 160px;
  background-color: rgb(255, 230, 146);
  border-radius: 5px;
}

#clearButton:hover {
  background-color: rgb(0, 0, 0);
}

#deleteButton {
  outline: 1px solid rgb(185, 185, 185);
  width: 160px;
  background-color: rgb(161, 211, 250);
  border-radius: 5px;
}

#deleteButton:hover {
  background-color: rgb(0, 0, 0);
}

.buttonGrid {
  display: grid;
  height: auto;
  margin: 15px;
  grid-template-rows: repeat(4, 80px);
  grid-template-columns: repeat(4, 90px);
}

.operationButton {
  outline: 1px solid rgb(185, 185, 185);
  margin: 10px;
  border-radius: 5px;
}
